{% extends 'portfolio/base_pr.html' %}
{% load static %}

{% block content %}
    <!-- Boucle sur les projets -->
<style>
.box {
    display: flex;
    flex-direction: column;

    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;

}
.card {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card__content {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.title {
 text-align: center;
 margin: 80px auto;
}

</style>
    <div class="title">
        <h1>Liste de mes projets</h1>
    </div>

    
        <div class="box">
            <div class="card">
                {% for category in category_list %}
                    <div class="card__content">
                        <h2>{{ category.category_name }}</h2>
                        <p>{{ category.description }}</p>
                        <a href="{% url 'project_category_detail' category.slug %}">Voir les projets</a>
                    </div>
                {% endfor %}
            </div>
        </div>

{% endblock %}