{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div>
        <h1 class="text-center">Mon coffre fort</h1>
    </div>

            <table>
            <tr>
                <td>Site</td>
                <td>Enregistrer le</td>
                <td>MDP généré</td>
                <td></td>
            </tr>

            <tr>
                {% for user_data in users %}
                <td>{{ user_data.url_origin }}</td>
                <td>{{ user_data.date_enr }}</td>
                <td>{{ user_data.passwords_generate }}</td>

                <td>
                    <a href="{% url 'deleterecord' user_data.user.id %}">
                        <button type="button" class="btn btn-danger btn-sm">Supprimer</button>
                    </a>
                </td>
                {% endfor %}
            </tr>
        </table>

{% endblock %}
