{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <form class="form" method="POST" style="width: 40%;">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Page connexion</legend>
                <label for="username">Nom d'utilisateur</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Nom d'utilisateur">
                <label for="password">Mot de passe</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Mot de passe">

            </fieldset>
            <div class="form-group" style="display: flex; justify-content: space-between; align-items: center;">
                <button class="btn btn-outline-info" type="submit">Connexion</button>
                <small class="text-muted ml-2">
                    <a href="#">Mot de passe oublié ?</a>
                </small>
            </div>
        </form>
        <div style="margin:50px auto; width: 90%; display: flex; justify-content: flex-end;">
            <small class="text-muted" style="">
                Pas encore de compte ?
                <a class="ml-2" href="{% url 'register' %}">
                    <strong>Inscrivez-vous !</strong>
                </a>
            </small>
        </div>
    </div>
{% endblock content %}
