{% extends 'base.html' %}
{% load static %}
{% block content %}

  <h1>Set a new password!</h1>
  <form method="POST">
    {% csrf_token %}
    <label for="password">New Password</label>
    <input type="password" name="password" id="password" />
    <label for="password2">Confirm Password</label>
    <input type="password" name="password2" id="password2" />
    <input type="submit" value="Set Password" />
  </form>
    <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>


{% endblock %}