{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<h1> Mot de passe oublié ? </h1> 
  <p> Entrez votre adresse e-mail ci-dessous et nous vous enverrons par e-mail des instructions pour en définir une nouvelle. </p>

  <form  method = "POST">
    {% csrf_token %}
    <div class = "form-group">
      <label for = "email"> Adresse e-mail </label>
      <input type = "email" class = "form-control" id = "email" name = "email" placeholder = "Entrez votre adresse e-mail">
    </div>
    
    <button type = "submit" class = "btn btn-primary"> Envoyer </button>
  </form>

{% endblock %}