{% extends 'shop/base.html' %}
{% load static %}

{% block content %}

<!--Password Reset Confirm-->
<div class="container p-5">
    <h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
    <hr>
    <p>Please enter your new password.</p>
    <form method="POST">
        {% csrf_token %}
        <label for="password">Nouveau mot de passe</label>
        <input type="password" name="new_password1" class="form-control" id="password" placeholder="Nouveau mot de passe">
        <label for="password">Confirmer le mot de passe</label>
        <input type="password" name="new_password2" class="form-control" id="password" placeholder="Confirmer le mot de passe">
        <button type="submit" class="btn btn-primary mt-3">Valider</button>
    </form>
</div>

{% endblock %}