{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div>
        <h1 class="text-center">Generer un mdp</h1>
    </div>

    <div class="content">
        <form method="POST">
            {% csrf_token %}
            <label for="site">Site :</label>
                <input type="text" name="site" id="site">

            <label for="lenght">Taille :</label>
                <input type="text" name="length" id="lenght" placeholder="length of password">
            <input class="btn btn-success btn-generer" type="submit">
        </form>
    </div>

{% endblock %}
