{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div>
        <h1 class="text-center">Mon coffre fort</h1>
    </div>

        {% for i in results %}
        <table>
            <tr>
                <td>Site</td>
                <td>Enregistrer le</td>
                <td>MDP généré</td>
                <td></td>
            </tr>

            <tr>
                <td>{{ i.site }}</td>
                <td>{{ i.time }}</td>
                <td>{{ i.passwords }}</td>

                <td>
                    <a href="{% url 'deleterecord' i.id %}">
                        <button type="button" class="btn btn-danger btn-sm">Supprimer</button>
                    </a>
                </td>

            </tr>
        </table>
    {% endfor %}

    {% for i in results %}
       {{ i.site }}
    {% endfor %}

{% endblock %}
