{%  extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <form method="POST" class="form">
    {% csrf_token %}

        <label for="username">Pseudo</label>
            <input name="username" id="username" type="text">

        <label for="first_name">Nom</label>
            <input name="first_name" id="first_name" type="text">

        <label for="last_name">Prenom</label>
            <input name="last_name" id="last_name" type="text">

         <label for="phone">tel</label>
            <input name="phone" id="phone" type="tel">

        <label for="rue">rue</label>
            <input name="rue" id="rue"type="text">

        <label for="zip">zip</label>
            <input name="zip" id="zip" type="text">

         <label for="ville">ville</label>
            <input name="ville" id="ville" type="text">



        <label for="password1">Password</label>
            <input name="password1" id="password1"type="password">

        <input type="submit" class="btn btn-success" value="login">

    </form>
</div>

{% endblock %}